.vscode/settings.json
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/main
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-91d7b4374dc8bf8a900d.json
build/.cmake/api/v1/reply/cmakeFiles-v1-519ea381db27625435d0.json
build/.cmake/api/v1/reply/codemodel-v2-24f5ec643ff0e63cb1fe.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2024-02-19T08-37-02-0152.json
build/.cmake/api/v1/reply/target-main-Debug-d265baa882bf294b9273.json
build/.cmake/api/v1/reply/toolchains-v1-51c731fde5c44cd0b7ea.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.1/CMakeCCompiler.cmake
build/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.1/CMakeSystem.cmake
build/CMakeFiles/3.28.1/CompilerIdC/a.out
build/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.28.1/CompilerIdCXX/a.out
build/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/main.dir/build.make
build/CMakeFiles/main.dir/cmake_clean.cmake
build/CMakeFiles/main.dir/compiler_depend.internal
build/CMakeFiles/main.dir/compiler_depend.make
build/CMakeFiles/main.dir/compiler_depend.ts
build/CMakeFiles/main.dir/depend.make
build/CMakeFiles/main.dir/DependInfo.cmake
build/CMakeFiles/main.dir/flags.make
build/CMakeFiles/main.dir/link.txt
build/CMakeFiles/main.dir/main.cpp.o
build/CMakeFiles/main.dir/main.cpp.o.d
build/CMakeFiles/main.dir/progress.make
build/CMakeFiles/main.dir/titanic.cpp.o
build/CMakeFiles/main.dir/titanic.cpp.o.d
